CompileFlags:
  CompilationDatabase: build

Diagnostics:
  Suppress:
    - pp_file_not_found
    - drv_unknown_argument
    - unused-parameter
    - unused-variable
    - unused-function
    - reorder
    - c++2b-extensions
    - clang-diagnostic-unused-parameter
    - clang-diagnostic-unused-variable
    - clang-diagnostic-unused-function
    - clang-diagnostic-reorder
    - readability-identifier-naming
    - readability-braces-around-statements
    - readability-implicit-bool-conversion
    - readability-redundant-access-specifiers
    - readability-make-member-function-const
    - modernize-use-auto
    - modernize-use-transparent-functors
    - cppcoreguidelines-owning-memory
    - cppcoreguidelines-special-member-functions
    - cppcoreguidelines-pro-bounds-constant-array-index
    - cppcoreguidelines-pro-bounds-array-to-pointer-decay
    - cppcoreguidelines-non-private-member-variables-in-classes
    - hicpp-special-member-functions
    - hicpp-no-array-decay
    - cert-err58-cpp
    - misc-non-private-member-variables-in-classes
    - bugprone-easily-swappable-parameters
    - bugprone-narrowing-conversions
    - bugprone-exception-escape
