---
Checks: '-*,bugprone-*,clang-analyzer-*,performance-*,modernize-use-override,modernize-use-nullptr,-bugprone-narrowing-conversions,-bugprone-easily-swappable-parameters,-bugprone-exception-escape,-bugprone-unhandled-exception-at-new,-clang-analyzer-core.uninitialized.Assign,-clang-analyzer-cplusplus.NewDeleteLeaks,-clang-analyzer-cplusplus.NewDelete,-clang-analyzer-cplusplus,-cert-err60-cpp,-cert-err58-cpp'