CompileFlags:
  CompilationDatabase: .
  Add:
    - "-I/home/pldx/Desktop/gonxun/vision_cpp/include"
    - "-I/home/pldx/Desktop/gonxun/core/include"
    - "-I/usr/local/include/opencv4"
  Remove:
    - "-Werror"
    - "-Wunknown-warning-option"
    - "-Wreorder"

Diagnostics:
  Suppress:
    - pp_file_not_found
    - pp_through_undef
    - pp_unmatched_endif
    - reorder
    - unused-parameter
    - c++2b-extensions
    - readability-identifier-naming
    - readability-braces-around-statements
    - readability-implicit-bool-conversion
    - readability-redundant-access-specifiers
    - readability-make-member-function-const
    - modernize-use-auto
    - modernize-use-transparent-functors
    - cppcoreguidelines-owning-memory
    - cppcoreguidelines-special-member-functions
    - cppcoreguidelines-pro-bounds-constant-array-index
    - cppcoreguidelines-pro-bounds-array-to-pointer-decay
    - cppcoreguidelines-non-private-member-variables-in-classes
    - hicpp-special-member-functions
    - hicpp-no-array-decay
    - cert-err58-cpp
    - misc-non-private-member-variables-in-classes
    - bugprone-easily-swappable-parameters
    - bugprone-narrowing-conversions
    - bugprone-exception-escape
    - clang-analyzer-core.uninitialized.Assign
    - clang-analyzer-cplusplus.NewDeleteLeaks
    - clang-analyzer-cplusplus.NewDelete
